<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.musicalstructureapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SongsActivity"
            android:label="@string/category_songs"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AlbumActivity"
            android:label="@string/category_albums"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AlbumByArtistActivity"
            android:label="@string/category_albums"
            android:launchMode="singleTop"
            android:parentActivityName=".ArtistActivity" />
        <activity
            android:name=".ArtistActivity"
            android:label="@string/category_artists"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NowPlayingActivity"
            android:label="@string/category_now_playing"
            android:launchMode="singleTop"
            android:parentActivityName=".AlbumActivity" />
        <activity android:name=".MusicLibrary" />
        <activity android:name=".Album" />
        <activity android:name=".AlbumAdapter" />
        <activity android:name=".ArtistAdapter" />
        <activity android:name=".Artist" />
        <activity android:name=".Song" />
        <activity android:name=".SongsAdapter" />
    </application>

</manifest>